.main-container {
    background-color: #eff3f7!important;
    min-height: 400px!important;
    padding: 50px 0 20px!important;
    margin-top: 0px!important;
}
.productlist-fluid{
    background: white;
}