.sidebar .block-account {
    border: 1px solid #dae9ff;
        border-radius: 5px;
}
.sidebar .block .block-title:before{
	display: none;
}
.sidebar .block-account .block-title  {
    padding-left: 30px;
    background-color: #ffffff;
    color: #1b1a1a;
    border: none;
    border-bottom: 1px solid #e5f0ff;
    padding-bottom: 15px;
    font-size: 18px;
    text-transform: none;
    font-weight: 600;
    padding-top: 15px;
}
.sidebar .block-account .block-content li:before{
    display: none;
}
.sidebar .block-account .block-content li {
    border-top: 0px #fff solid;
    border-bottom: 0px #ddd solid;
}
.sidebar .block-account .block-content li a{
    font-size: 14px;
}
 .sidebar .block-content li.current {
    font-weight: 600;
    color: #126be8;
    background: #e3efff;
    border-radius: 10px;
}
 .sidebar .block-content li.current a{
    color: #126be8;
}