.newsletter-fluid.footer-top {
    background-color: #126be8;
    clear: both;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 40px 0;
}
.newsletter-fluid .newsletter h4 {
    font-size: 28px;
    text-transform: initial;
    display: inline-block;
    font-weight: bold;
    margin-right: 15%;
}
.newsletter-fluid .newsletter input[type="text"] {
    background: #FFFFFF;
    width: 50%;
    height: 46px;
    color: #a7a7a7;
    margin: 0 0px 0px 0;
    border-radius: 8px 0px 0px 8px;
}
.newsletter-fluid button.subscribe {
    background: #e9edf2;
    border: 0 none;
    overflow: hidden;
    padding: 15px 17px;
    font-weight: 600;
    color: #222;
    text-transform: inherit;
    height: 46px;
    border-radius: 0px 8px 8px 0px;
}
.newsletter-fluid button.subscribe:before {
    content: "";
    font-family: FontAwesome;
    font-size: 13px;
    padding-right: 5px;
    font-weight: 600;
}
.newsletter-fluid .social {
    margin-top: 15px;
}
.newsletter-fluid .social .fb a {
    background: none;
    }
.newsletter-fluid .social .tw a {
    background: none;
    }
.newsletter-fluid .social .linkedin a {
    background: none;
    }
.newsletter-fluid .social .youtube a {
    background: none;
    }
.newsletter-fluid .social .pintrest a {
    background: none;
    }
.newsletter-fluid .social .fb a:hover {
    background: none;
    }
.newsletter-fluid .social .tw a:hover {
    background: none;
    }
.newsletter-fluid .social .linkedin a:hover {
    background: none;
    }
.newsletter-fluid .social .youtube a:hover {
    background: none;
    }
.newsletter-fluid .social .pintrest a:hover {
    background: none;
    }